WindowsImageGenerator/FilesToInstall/*
WindowsImageGenerator/install.esd
WindowsImageGenerator/Home
WindowsImageGenerator/HomeOld
WindowsImageGenerator/Pro
WindowsImageGenerator/ProOld
WindowsImageGenerator/Windows10*